<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wip.me.fhdw.de.tenmanager">
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Notes.InitNoteDetailView_Alina"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Events.InitEventsDetailView_Sebastian"/>
        <activity android:name=".Notes.InitNoteOverview_Julius"/>
        <activity android:name=".ToDos.InitToDoOverview_Mona"/>
        <activity android:name=".Events.InitEventsOverview_Lena"></activity>
        <activity android:name=".Menu.Menu_Alina_und_Mona"></activity>
        <!--<activity android:name=".GuiEventsOverview_Lena"/>-->

    </application>

</manifest>